@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f6;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #2874f0;
}

footer {
  background-color: #172337;
  color: white;
}

.nav-link {
  color: white;
  margin-right: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.banner {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.categories {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding: 16px 0;
  background-color: #fff;
}

.category-item {
  flex: 0 0 auto;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
}

.category-item:hover {
  background-color: #f1f3f6;
}






.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
